@import 'colors';
$text-big: 24px;
$text-medium: 16px;
$text-small: 12px;

.footer {
	background-color: $blue;
  font-size: $text-big;
	color:white;
  display: flex;
  flex-direction: column;
	justify-content: center;
	text-align: center;
  height: 150px;
	margin-top: 90px;
}

.footer::before {
	content: url(../assets/wolox_logo_white.svg);
	order: 1;
	padding: 5px;
}


.footer::after {
  content: "Copyright 2018. Wolox. All rights reserved";
	display: flex;
	flex-direction: row-reverse;
  font-size: $text-small;
	order: 1;
}
