@import 'colors';
$text-big: 24px;
$text-medium: 16px;
$text-small: 12px;

.footer {
	background-color: $blue;
  font-size: $text-big;
	color:white;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  height: 150px;
  width: 100%;
}

.footer::before {
	content: ' ';
	background: url(../assets/wolox_logo_white.svg);
	background-size:contain;
  height: 200px;
	display: flex;
  justify-content: center;
  width: 200px;
}


.footer::after {
  content: "Copyright 2018. Wolox. All rights reserved";
  font-size: $text-small;
	display: flex;
	justify-content: flex-end;
}
