$nav-height: 90px;
$nav-logo-height: 30px;

.pnav-bar {
	background-color: $white;
	box-shadow: 0px 1px 5px $grey;
	display: flex;
	align-items: center;
  position: fixed;
  width: 100%;
	z-index: 1;
}

.nav-bar {
	font-size: $text-big;
	height: $nav-height;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
}

.nav-bar-logo {
  height: $nav-logo-height;
  width: 200px;
}
