@import 'colors';
$nav-height: 90px;
$nav-logo-height: 30px;
$text-big: 24px;

.pnav-bar {
	z-index: 1;
  position: fixed;
  width: 100%;
}

.nav-bar {
	align-items: center;
	background-color: white;
	box-shadow:0px 1px 5px $grey;
	display: flex;
	font-size: $text-big;
	height: $nav-height;
	justify-content: space-between;
  flex-flow: row;
}

.nav-bar::before {
	content: url(../assets/wolox_logo.svg);
  height: $nav-logo-height;
  width: 200px;
}
