$nav-height: 70px;
$nav-logo-height: 30px;
$tech-logo-size: 100px;

.boxes {
  margin-bottom: 100px;
  padding: 0 200px;
  display: grid;
  grid-template-columns: [col1-start] auto [col2-start] auto [col3-start] auto [col3-end];
  grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
  justify-items:center;
}

.box {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 333px;
  padding: 40px 20px;
  position: relative;
  text-align: center;
  width: 100%;

  &:first-child {
    border-right: 5px solid $green;
    height: 100%;
    justify-content: center;
    grid-row: row1-start / row2-end;
  }
}

.box-title {
  font-size: $text-medium;
  margin-bottom: 10px;
}

.box-release {
  font-size: $text-small;
  font-weight: bold;
  margin-bottom: 40px;
}

.box-description {
  font-size: $text-small;
}

.box-cover {
  display: block;
  height: $tech-logo-size;
  object-fit: fill;
  width: $tech-logo-size;
}
