$nav-height: 70px;
$nav-logo-height: 30px;
$tech-logo-size: 100px;

.boxes {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin-bottom: 70px;
  padding: 0 75px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: [col1-start] 33% [col2-start] 33% [col3-start] 33% [col3-end];
  grid-template-rows: [row1-start] 50% [row2-start] 50% [row2-end];
}

.box {
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  min-height: 310px;
  margin: 15px;
  padding: 40px 20px;
  position: relative;
  text-align: center;
  width: 200px;
  grid-column: col2-start / col3-end;
  grid-row: row1-start / row2-end;

  &:first-child {
    grid-column: col1-start / col2-start;
  }
}



.box-title {
  font-size: $text-medium;
  margin-bottom: 10px;
}

.box-release {
  font-size: $text-small;
  font-weight: bold;
  margin-bottom: 40px;
}

.box-description {
  font-size: $text-small;
}

.box-cover {
  display: block;
  height: $tech-logo-size;
  object-fit: fill;
  width: $tech-logo-size;
}
