$title-decoration-height: 90px;
$title-decoration-width: 70px;
$text-big: 24px;

.title {
<<<<<<< HEAD
  font-size: 24px;
    padding: 32px 0 32px 50px;
    position: relative;
}

.title::before {
  content: url(../assets/triangle.svg);
  height: $title-decoration-height;
  position: absolute;
  width: $title-decoration-width;
  z-index: -1;
  top: 0;
  left: 0;
=======
  font-size: $text-big;
  transform: translate(-23px,-37px);
}

img {
  height: $title-decoration-height;
  width: $title-decoration-width;
>>>>>>> adding both titles with their images
}
