$title-decoration-height: 90px;
$title-decoration-width: 70px;
$text-big: 24px;

.title {
  font-size: $text-big;
  padding: 32px 0 32px 50px;
  position: relative;
  margin-bottom: 15px;
}

.title::before {
  content: url(../assets/triangle.svg);
  height: $title-decoration-height;
  position: absolute;
  width: $title-decoration-width;
  z-index: -1;
  top: 0;
  left: 0;
}

.title-container {
  padding: 50px;
}
