$title-decoration-height: 90px;
$title-decoration-width: 70px;
$text-big: 24px;

.title {
  font-size: $text-big;
  padding: 70px 70px;
}

.title::before {
  content: url(../assets/triangle.svg);
  height: $title-decoration-height;
  position: absolute;
  margin-left: -50px;
  margin-top: -35px;
  width: $title-decoration-width;
  z-index: -1;
}
